@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme{
  --color-primary: #5D4601;
  --color-secondary: #6B5537;
  --color-accent: #8B6F47;
  --color-orderTextColor: #413000;
}

@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;
  }
  
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: #FDFCFA;
    color: #1A1A1A;
  }
}